@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montagu+Slab&family=Montserrat&family=Playfair+Display:wght@900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(22, 22, 21, 0.5);
    width: 100%;
    position: sticky;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.cabecalho_menu_link {
    font-family: 'krona-One', sans-serif;
    font-size: 24px;
    color: #ffda00;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo{
    width: 8.5rem;
    height: 8.5rem; 
}

body{
    background: url(https://www.4estylos.com.br/public/img/layout/default/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.corpo_apizzaria {
    background-image: url(https://www.4estylos.com.br/public/img/layout/default/home/qs.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 100%;
}

.corpo_apizzaria_conteudo_titulo {
    font-family: 
}

.delivery {
    background-color: #ffda00;
}

.cardapio{
    
    background-image: url(/images/pexels-vinicius-benedit-1082343\ \(1\)\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    

}

.cardapio_back{
    
    
}